<!--
 * 3-column, equal height layout, with rigid left and right columns, and fluid middle column
 * Use with 3col_rfr.css
 *
 * Note: Intra-page linking (anchors with #id target) will not work with this layout when using equal-height columns
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Title</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    </head>
    <body>
        <div id="sizer">
			<div id="expander">
				<div id="wrapper" class="clearfix">
				    <div id="header">
				    </div>
                    <div id="main">
                        <div id="middleCol" class="column">  
                        </div><!--/middleColumn--> 
                        <div id="leftCol" class="column">
                        </div><!--/leftCol-->
                        <div id="rightCol" class="column">    
                        </div><!--/rightCol-->
                    </div><!--/main-->
                    <div id="footerWrapper">
                        <div id="footer">
                        </div><!--/footer-->
                    </div><!--/footerWrapper-->
                </div><!--/wrapper-->
            </div><!--/expander-->
        </div><!--/sizer-->
    </body>
</html>
